<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Android 12 va undan past versiyalar uchun audiolarni o'qish ruxsati -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
        
    <!-- Android 13+ uchun faqat audio fayllarni o'qish ruxsati -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Fonda xizmat ko'rsatish va musiqa ijro etish ruxsati -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    
    <!-- Ekran o'chganda ham musiqa to'xtab qolmasligi uchun -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Lirikalar va qo'shiq muqovalarini yuklab olish uchun (Opsional) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SonoraApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SonoraPlayer"
        tools:targetApi="31">
        
        <activity
        <!-- Sonora Widget -->
        <receiver
            android:name=".widget.SonoraWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SonoraPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Media3 Playback Service (Fonda ishlashi uchun) -->
        <service
            android:name=".service.SonoraPlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

    </application>

</manifest>
